name: mono_connect_sdk
description: A Flutter plugin integrating the official android and ios SDK for Mono https://withmono.com
version: 4.0.4
homepage: https://github.com/wiseminds/mono-flutter

environment:
  sdk: ^3.8.0
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  webview_flutter: ^4.10.0
  js: ^0.6.3
  permission_handler: ^11.3.1
  webview_flutter_wkwebview: ^3.17.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.2


flutter:
  plugin:
    implements: mono_flutter
    platforms:
      web:
        pluginClass: MonoFlutterWeb
        fileName: mono_flutter_web.dart